@font-face {
    font-family: 'sweet-sans';
    src: url(../fonts/SweetSansProThin.otf) format('opentype');
}

#LoginSubTitleElement {
    letter-spacing: 0;
    color: black;
    font-size: 23px;
    margin-right: 10%;
    margin-top: 2%;
    font-family: 'sweet-sans';
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1439px) { 
    #LoginSubTitleElement{
    	font-size: 2vw;
        margin-right: 5vw;

    }    
}
@media screen and (max-device-width: 1024px) and (min-device-height: 1024px){
    #LoginSubTitleElement{
    	font-size: 3vw;
        margin-right: 10vw;
    }  
}
@media screen and (max-device-width: 767px) {
    #LoginSubTitleElement{
    	font-size: 4vw;
        margin-right: 6vw;
    }   
}

