.wrapper {
    width: 420px;
    background-color: transparent;
    border: 2px solid lightgrey;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px lightgrey; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

#SignupParentElement {
    width: 420px;
    background-color: transparent;
    border: 2px solid lightgrey;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px lightgrey; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.65vh;
    width: 250px;
    color: red;
}
