/*Setting up fonts*/
@font-face{
    font-family: 'adobeFont';
    src: url('fonts/bebas.ttf') format('truetype');
}

@font-face{
    font-family: acumin;
    src: url('fonts/Acumin-BdPro.otf') format('opentype');
}

/*Background + Alignment*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .background-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .background-video{
        width: auto;
        height: 100%;
    }
}

.centered-square{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#directoryDiv {
    font-size: 25px;
    color: #000000;
    width: 28%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
    padding-left: 20px;
}


/*Login or SignUp Popup*/
.account-popup {
    display: none;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh;
    z-index: 9;
    background: rgba(0, 0, 0, 0.56); 
    backdrop-filter: blur(15px);
}

.popup-container {
    text-align: center;
    max-width: 300px;
    padding: 50px;
    background: transparent;
    border-radius: 20px;
    position: relative;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}


.popup-container input[type=text], .popup-container input[type=password], 
.popup-container input[type=email], .popup-container input[type=email]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.popup-container input[type=text]:focus, .popup-container input[type=password]:focus 
.popup-container input[type=email]:focus, .popup-container input[type=email]:focus{
    background-color: #ddd;
    outline: none;
}

.popup-container .btn {
    font-family: acumin, sans-serif;
    font-size: 13px;
    color:#000000;
    letter-spacing: 5px;
    border-radius: 0px;
    background-color: #A9EBEC;

    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.popup-container .btn:hover {
    opacity: 50%;
}

.popup-container h1 {
    font-family: adobeFont, sans-serif;
    color: white;
    align-content: center;
    font-size: 50px;
    opacity: 50%;
    letter-spacing: 10px;
}

/*Other Options Little Note*/
.sign-or-login {
    font-family: acumin;
    color: yellow;
    opacity: 0.5;
    font-size: 12px;
    padding: 0px;
    display: inline-block;
    letter-spacing: 0px;
}

.sign-or-login .buttons2{
    color: yellow;
    font-size: 12px;
    letter-spacing: 0px;
    padding: 0px;
    margin-bottom: 10px;
    display: inline-block;
}



/*LOGGED IN*/
#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#inner-title{
    padding-top: 105px;
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

#signinLink {
    display: inline-block;
    font-size: 15px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#loginButton {
    color: #009de4;
    border-radius: 0%;
    font-size: 25px;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}



/*"The Reef" content*/
.container-index{
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    text-align: center;
   
}
.content h1{
    font-family: adobeFont, sans-serif;
    padding-left: 110px;
    font-size: 220px;
    opacity: 50%;
    letter-spacing: 100px;
}

.content h2{
    font-family: acumin, sans-serif;
    padding-top: 205px;
    padding-left: 15px;
    font-size: 30px;
    opacity: 50%;
}

.buttons{
    font-family: acumin, sans-serif;
    font-size: 13px;
    color:#A9EBEC;
    letter-spacing: 5px;
    border: none;
    border-radius: 0px;
    width: auto;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #000000;
    opacity: 0.8;
}

.buttons2 {
    font-family: acumin, sans-serif;
    font-size: 13px;
    color: white;
    letter-spacing: 5px;
    border: none;
    border-radius: 0px;
    width: auto;
    padding: 10px 15px;
    background-color: transparent;
    opacity: 0.8;
}

.buttons:hover{
    opacity: 50%;
}

.buttons2:hover {
    opacity: 50%;
}





/*------Contacts Page------*/
#contactsBody {
    overflow: hidden;
}

#contactsContainer {
    display: flex; 
    flex-direction: row; 
    align-items: stretch; 
    justify-content: space-between;
    background-color: transparent;
    margin: 60px;
    height: calc(100vh - 160px); 
    backdrop-filter: blur(15px);
    border-radius: 7px;
    padding: 0; 
    overflow: hidden;
}

#leftSideDiv {
    flex: 1; 
    background-color: black;
    opacity: 60%;
    margin-right: 0px; 
    border-radius: 7px;
    height: 100%;
}

/* Styling the scrollbar track */
#leftSideDiv::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#leftSideDiv::-webkit-scrollbar-thumb {
    background: #888; 
}
#leftSideDiv::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#leftSideDiv::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


#rightSideDiv {
    flex: 3; 
    flex-direction: column;
    background-color: black;
    opacity: 80%;
    border-radius: 7px;
}

/*we can combine this with the "leftsidediv"*/
.contactsList {
    height: 200px;
    overflow-y: auto;
}

#searchBar {
    display: block;
    background-color: black;
    text-align: left;
    height: 40px;
    width: 85%;
    margin-top: 5%;
    margin-left: auto;  
    margin-right: auto;  
    border-style: solid;
    border-radius: 7px;
    border-width: thin thin thin thin;
    color: white;
    padding: 10px;
}

#buttonsDiv{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 90%;
    width: 100%;
    display: flex; 
    flex-direction: row; 
    align-items: stretch; 
    justify-content: space-between;
    background-color: transparent;
    flex-direction: row;
}

.contactPageButtons {
    height: 40px;
    width: 80px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #424245;
    font-family: acumin, sans-serif;
    border-radius: 7px;
    opacity: 70%;
    border: none;
    color: white;	
}

#deleteButton {
    position: absolute;
    margin-left: 92%;  
    margin-right: 2%;
}

#editButton {
    position: absolute;
    margin-left: 85%;  
    margin-right: 0;
}

#saveButton{
    position: absolute;
    margin-left: 85%;  
    margin-right: 0;
}

#newButton {
    position: absolute;
    margin-left: 27%;  
}

#logOutButton {
    position: absolute;
    margin-left: 34%;  
}

.contactPageButtons:hover{
    opacity: 50%;
}

.profileIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424245;
    margin-top: 10%;
    margin-left: auto;  
    margin-right: auto;  
    border-radius: 50%;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 25px;
    opacity: 70%;
    font-family: acumin;
}

.fullName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: auto;  
    margin-right: auto;  
    font-size: 20px;
    font-family: acumin;
    text-align: center;
    color: white;
}

.contactWritten{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}

.contactLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    opacity: 40%;
}

.contactInformation{
    display: flex; 
    flex-direction: row; 
    align-items: stretch; 
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 15px;
    border: none;
    background: transparent;
}

.contactBox{
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 15px;
    margin: 1% 0 0 30%;
    border: none;
    background: transparent;
}

.contactLeftList{
    display: flex;  
    flex-direction: column; 
    justify-content: space-between;
    align-items: left;
    width: 100%;
    background: transparent;
    margin-top: 3%;
}

.contactButton{
    width: 100%;
    padding: 10px;
    padding-left: 37px;
    border: none;
    background: transparent;
    text-align: left;
    font-family: acumin;
    color: white;
}

.contactButton:hover{
    background: white;
    color: black;
    opacity: 40%;
}

.clicked {
    background: white;
    color: black;
    opacity: 40%;
}


#newContactPopup {
    position: fixed;
    display: none;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.56); 
    backdrop-filter: blur(10000px); 
    right: -60px;
    top: -60px;
    padding-top: 7%;
}

.newContactInput {
    padding: 15px;
    border: none;
    background: #f1f1f1;
    position: relative;
    text-align: left;
    width: 200px;
    height: 35px;
    margin-bottom: 5px;  
    margin-top: 0px; 
    color: black;    
}

label2 {
    font-family: acumin;
    position: relative;
    background-color: transparent;
    text-align: left;
    width: 100px;
    height: 35px;
    color: white;
}

.contactBox2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 25px;
    align-items: center;
    width: 40%;
    padding-top: 0.7%;
    margin: 0 0 0 40%;
    border: none;
    background: transparent;
} 

.addNewButtonsPosition {
    flex-direction: row;
}

.addNewButtons {
    position: relative;	
    width: auto;
    background-color: #A9EBEC;
    font-family: acumin, sans-serif;
    opacity: 80%;
    border: none;
    color: black;
    margin-bottom: 0.5%;
    padding: 10px 15px;
    font-size: 12px;
}

.addNewButtons:hover{
    opacity: 40%;
}

#exitNewContact{
    background-color: transparent;
    color: white;
}

#newContactHeader {
    position: relative;
    color: white;
    font-size: 35px; 
    font-family: adobeFont, sans-serif;
}

#contactTable {
    color: rgb(255, 255, 255);
    font-family: acumin;
    font-size: 20px;
    text-align: center;
}

#firstNameConditionMessage {
    position: absolute;
    display: none;
    width: 200px;
    top: 127px;
    margin-left: 80%;
    font-family: 'adobeFont';
    font-size: medium;
    background-color: black;
    letter-spacing: 2px;
    color: #A9EBEC;
}

#lastNameConditionMessage {
    position: absolute;
    display: none;
    width: 200px;
    top: 201px;
    margin-left: 80%;
    font-family: 'adobeFont';
    font-size: medium;
    background-color: black;
    letter-spacing: 2px;
    color: #A9EBEC;
}

#userNameConditionMessage {
    position: absolute;
    display: none;
    width: 200px;
    top: 275px;
    margin-left: 80%;
    font-family: 'adobeFont';
    font-size: medium;
    background-color: black;
    letter-spacing: 2px;
    color: #A9EBEC;
}

#passwordConditionMessage {
    position: absolute;
    display: none;
    width: 200px;
    top: 349px;
    margin-left: 80%;
    font-family: 'adobeFont';
    font-size: medium;
    background-color: black;
    letter-spacing: 2px;
    color: #A9EBEC;
}

#passwordMatchMessage {
    position: absolute;
    display: none;
    width: 200px;
    top: 423px;
    margin-left: 80%;
    font-family: 'adobeFont';
    font-size: medium;
    background-color: black;
    letter-spacing: 2px;
    color: #A9EBEC;
}

.editable[contentEditable="true"] {
    background-color: white;
    opacity: 60%;
    border-width: thin thin thin thin;
    border-radius: 2px;
    padding: 4px;
    cursor: text;
    color: black;
}

.fullName{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 10px;

    margin-top: 2%;
    margin-left: auto;  
    margin-right: auto;  
    font-size: 20px;
    font-family: acumin;
    text-align: center;
    color: white;
}

#saveButton {
    margin-left: 70%;  
    margin-right: 0;
}


#newContactFirstNameCheck {
    position: absolute;
    display: none;
    background-color: #424245;
    color: white;
    width: 200px;
    top: 283px;
    margin-left: 65%;
}

#newContactLastNameCheck {
    position: absolute;
    display: none;
    background-color: #424245;
    color: white;
    width: 200px;
    top: 333px;
    margin-left: 65%;
}

#areYouSure {
    position: absolute;
    display: none;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.56); 
    backdrop-filter: blur(10000px); 
    right: -60px;
    top: -60px;
    padding-top: 7%;
}
