@font-face {
    font-family: 'sweet-sans-pro';
    src: url(../fonts/SweetSansProThin.otf) format('opentype');
}
#GitHubButton {
    font-family: 'sweet-sans-pro';
    font-size: 120%;
    margin-right: 7vh;
    text-decoration: none; 
    color: black; 
    white-space: nowrap; 
}
@media only screen and (max-width: 600px) {
  #GitHubButton {
    font-size: 70%;
    margin-right: 4vh;
  }
}
.github-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.github-underline-animation::after {
    content: '';
    position: absolute;
    width: 62.5%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

@media only screen and (max-width: 300px) {
  .github-underline-animation::after {
    width: 82.5%;
  }
}

.github-underline-animation:hover::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}
