@font-face {
    font-family: 'sweet-sans';
    src: url(../fonts/SweetSansProThin.otf) format('opentype');
}

#LoginButtonElement {
    background-color: white;
    color: #fa304c;
    border-color: #fa304c;
    border-radius: 1%;
    margin-right: 9vw;
    margin-bottom: 15px;
    font-size: 21px;
    font-size: 19px;
    font-family: 'sweet-sans';
    width: 400px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: height .5s ease;
}
#LoginButtonElement:hover{
    height: 40px;
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1439px) { 
    #LoginButtonElement{
	font-size: 2.5vh;
	margin-right: 11vh;
	width: 38vw;
	font-size: 2.5vh;
    }    
}
@media screen and (max-device-width: 1024px) and (min-device-height: 1024px) {
    #LoginButtonElement{
     	margin-right: 1vw;
     	width: 85vw;
        font-size: 2.5vw;
        height: 40px;
    }  
}
@media screen and (max-device-width: 767px){
    #LoginButtonElement{
     	margin-right: 1.5vw;
     	width: 90vw;
        font-size: 4vw;
        height: 30px;
    }   
}

@media screen and (max-device-width: 285px) {
    #LoginButtonElement{
     	width: 87vw;
        font-size: 4vw;
        height: 25px;
    }   
}
