#QuestionPageNavElement {
    position: absolute;
    margin-left: -11px;
    background-color: white;
    border-style: none solid none none;
    border-width: 0.5px;
    border-color: black;
    height: 100vh;
}
#FirstName {
    margin-top: 200px;
    display: inline;
    margin-right: 5%;
    padding-top: 5%;
}
#LastName {
    display: inline;
    padding-top: 5%;
}

#Name{
    margin-top: 10%;
}
