#SenseiImageElement {
    position: absolute;
    width: auto;
    height: 80vh;
    left: 10%;
    bottom: 0%;
}
@media screen and (max-device-width: 1280px){
    #SenseiImageElement{
	height: 75vh;
	left: 5%;
     }
}

